<script>
    for (const iterator of data) {
        
    }
</script>
<!-- Main -->
<div id="main" class="alt">
    <div class="inner">
 
        <%= IDX %>

        <section class="tiles">

			<article class="style1">
				<span class="image">
					<img src="/public/images/pic01.jpg" alt="" />
				</span>
				<a href="/page/apiary">
					<h2>양봉구역 등록</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style1">
				<span class="image">
					<img src="/public/images/pic01.jpg" alt="" />
				</span>
				<a href="/page/apiaryList">
					<h2>양봉구역 목록</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>

		</section>

        
    </div>
</div>
