<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    let APIARY_ID = null;
    let RESPONSE  = null;

    function submitfn(TYPE,API,DATA){
        let sendData; 
        if(TYPE == "read" && API == "apiaryGroup"){sendData = DATA; APIARY_ID=DATA.APIARY;}
        else if(TYPE == "write" && API == "warehouse"){
            sendData = {
                WAREHOUSE:  document.getElementById("WAREHOUSE").value,
                APIARY:     APIARY_ID,
                NAME:       document.getElementById("NAME").value
            }
        }else if(TYPE == "read" && API == "farmIP"){
            sendData = {data:true};
        }
        console.log(sendData);
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url : `/api/${TYPE}/${API}`,
            type : 'POST', 
            dataType:'json',
            data : JSON.stringify(sendData), 
            success : function(response) {       
                if(TYPE == "read" && API=="apiaryGroup"){RESPONSE = response.data;}
                else if(TYPE == "write" && API=="warehouse"){
                    if(response.data){
                        RESPONSE.warehouse.push({WAREHOUSE: sendData.WAREHOUSE, NAME: sendData.NAME});
                        Swal.fire({              
                            position: 'top',
                            icon: 'success',
                            title: "소비저장고 등록",
                            text: "소비저장고가 등록되었습니다.",
                            showConfirmButton: false,                                    
                            timer: 1000
                        })
                    }else{
                        Swal.fire({              
                            position: 'top',
                            icon: 'error',
                            title: "소비저장고 중복",
                            text: "이미 등록된 소비저장고입니다.",
                            showConfirmButton: false,                                    
                            timer: 1000
                        })
                    }
                }
                console.log(API,response);
                if(response.result) HTML(API,response.data)
                else alert("오류발생! 관리자에게 문의하세요.");
            }, // success 
            error : function(xhr, status) {
                alert(xhr + " : " + status);
                console.log(xhr);
            }            
        }); // $.ajax 
    }
    function HTML(API,DATA){
        let HTML_Text = "";
        if(API == "stack"){
            HTML_Text = `<br><h3>소 비 저 장 고 - 등 록</h3><br>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <input type="text" name="WAREHOUSE" id="WAREHOUSE" value="" maxlength='32' placeholder="소비저장고 아이디" />
                            </div>
                            <div class="col-12">
                                <input type="text" name="NAME" id="NAME" value="" maxlength='16' placeholder="소비저장고 이름" />
                            </div>
                            <!-- Break -->
                            <br><br><br><br>
                            <div class="col-12">
                                <input type="button" value="소 비 저 장 고 등 록" style="width: 100%; height: 100px; " onclick="submitfn('write','warehouse','null'); return false;">
                            </div>
                        </div>
                    </form>`;
        }else{
            HTML_Text = `<section class="tiles">
                <article class="style2" onclick="HTML('stack',null)">
                    <span class="image"><img src="/public/images/pic02.jpg" alt="" /></span>
                    <a><h2>소비저장고<br>등록</h2></a>
                </article>
                <article class="style6" onclick="submitfn('read','farmIP','null')">
                    <span class="image"><img src="/public/images/pic06.jpg" alt="" /></span>
                    <a><h2>양봉구역<br>등록</h2></a>	
                </article>`;
            for (const iterator of RESPONSE.warehouse) {
                HTML_Text += ` <article class="style3">
                    <span class="image"><img src="/public/images/pic03.jpg" alt="" /></span>
                    <a><h2>소비저장고<br>${iterator.NAME}</h2></a>
                </article>`;
            }
            for (const iterator of RESPONSE.farm) {
                HTML_Text += ` <article class="style3">
                    <span class="image"><img src="/public/images/pic03.jpg" alt="" /></span>
                    <a><h2>양봉구역<br>${iterator.NAME}</h2></a>
                </article>`;
            }
            HTML_Text += "</section>";
        }
        document.getElementById("contents").innerHTML = HTML_Text;
    }
</script>
<!-- Main -->
<div id="main" class="alt">
    <div class="inner" id="contents">
 
        <!-- Lists -->
        <section>
                <% for (const object of data) { %>
                    <ul onclick="submitfn('read','apiaryGroup',{APIARY:<%= object.APIARY %>})">
                        <li>양봉장: <%= object.NAME %></li>
                        <li>주 소 : <%= object.ADDR %></li>
                    </ul>
                <% } %>
        </section>
        
    </div>
</div>
