<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</script>
<!-- Main -->



<div id="main" class="alt">
    <div class="inner">
        <section>
            <div class="table-wrapper">

                <table class="alt">
                    <thead>
                        <tr>
                            <th>소비저장고 아이디</th>
                            <th>오존 농도</th>
                            <th>시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const log of data) { %>  
                        <tr>
                            <td><%= log.WAREHOUSE %></td>
                            <td><%= log.O3 %> PPM</td>
                            <td><%= log.TMST %></td>
                        </tr>  
                        <% } %>                      
                    </tbody>
                </table>
            </div>
        </section>
        
    </div>
</div>
