<section id="banner" class="style2">
    <div class="inner">
        <a href="/" class="link">
        <span class="image">            
            <img src="/public/images/404NotFound.png" alt="" />
        </span>
        <header class="major">
            <h1>404 Not Found</h1>
        </header>
        <div class="content">
            <p>페이지를 찾을 수 없습니다.</p>
        </div>
        </a>
    </div>
</section>