<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <!-- 로그인(회원가입) / 로그아웃-->
        <li><a href="/user/login">로그인</a></li>
        <!-- exam -->        
        <li><a href="/exam/main">exam_main</a></li>
        <li><a href="/exam/generic">exam_generic</a></li>
        <li><a href="/exam/elements">exam_elements</a></li>
        <!-- -->
    </ul>
</nav>