<!-- Main -->
<div id="main">
    <%= TITLE %><hr>
    <a href="/web/init">page1</a><hr>
    <a href="/web/user">page2</a><hr>
    <a href="/web/farm">page3</a><hr>
    <a href="/web/hive">page4</a><hr>
    <a href="/web/sensor_log">page5</a><hr>
    <a href="/web/error_log">page6</a><hr>
    <a href="/web/error_device">page7</a><hr>
</div>