<!-- Main -->
<div id="main">
	<div class="inner">		
		<section class="tiles">

			<article class="style1">
				<span class="image">
					<img src="/public/images/pic01.jpg" alt="" />
				</span>
				<a href="/page/apiary">
					<h2>양봉장 등록</h2>
					<div class="content">
						<hr><p>여기서 양봉장을<br>등록하세요.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="/public/images/pic02.jpg" alt="" />
				</span>
				<a href="/page/apiaryList">
					<h2>양봉장 목록</h2>
					<div class="content">
						<hr><p>등록한 양봉장의 목록을<br>보여줍니다.</p>
					</div>
				</a>
			</article>

			<article class="style6">
				<span class="image">
					<img src="/public/images/pic06.jpg" alt="" />
				</span>
				<a href="#">
					<h2>에러 로그</h2>
					<div class="content">
						<hr><p>장비의 에러 로그들을<br>확인 할 수 있습니다.</p>
					</div>
				</a>
			</article>

			<article class="style5">
				<span class="image">
					<img src="/public/images/pic05.jpg" alt="" />
				</span>
				<a href="/demo/O3">
					<h2>test page</h2>
					<div class="content">
						<hr><p>소비저장고 오존 로그들을<br>확인 할 수 있습니다.</p>
					</div>
				</a>
			</article>

			<article class="style4">
				<span class="image">
					<img src="/public/images/pic04.jpg" alt="" />
				</span>
				<a href="/demo/DOOR">
					<h2>test page2</h2>
					<div class="content">
						<hr><p>소비저장고 문 로그들을<br>확인 할 수 있습니다.</p>
					</div>
				</a>
			</article>

			<article class="style3">
				<span class="image">
					<img src="/public/images/pic03.jpg" alt="" />
				</span>
				<a href="/demo/RUN">
					<h2>test page3</h2>
					<div class="content">
						<hr><p>플라즈마 동작 로그들을<br>확인 할 수 있습니다.</p>
					</div>
				</a>
			</article>
			
		</section>
	</div>
</div>